// All the SCSS Variables goes here

// Typogrpahy
$font-family-open-sans:          'Open Sans', sans-serif;
$font-family-playfair-display:   'Playfair Display', serif;
$font-family-base:                $font-family-open-sans;

// Font-size
$font-size-base:  1rem;
$font-size-lg:    $font-size-base * 3;
$font-size-sm:    $font-size-base * .825 ;

// Browser-Support
$enable-flex:  true;

// Navbar
$navbar-dark-color:         $white;
$navbar-dark-hover-color:   $warning;
$navbar-dark-active-color:  $warning;

// Logo
$logo-width:40px;
$logo-height:35px;
// Button
$btn-border-radius:     0.15rem;
$btn-padding-y:         10px;
$btn-padding-x:         22px;
$btn-font-weight:       500;

// Container width
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1438px
);

// Pagination
$pagination-bg:                  transparent;
$pagination-color:               $white;
$pagination-border-color:        $warning;
$pagination-hover-color:         $primary;
$pagination-hover-bg:            $warning;
$pagination-hover-border-color:  $warning;

// Card
$card-width:   450px;
$card-img-height: 350px;

// Home-area
$home-area-height: 90vh;

// Testimonial-area
$testimonial-area-height: 60vh;

// Link color
$link-color:        $white;

// Nav-pills
$nav-pills-border-radius:           0;
$nav-pills-link-active-color:       $primary;
$nav-pills-link-active-bg:          $warning;

// Nav-tab
$nav-tabs-link-active-color:       $warning;
$nav-tabs-link-active-bg:          transparent;
$nav-tabs-border-color:            transparent;
$nav-tabs-link-active-border-color:transparent;
$nav-tabs-link-hover-border-color: transparent;