.content {
  .content-title {
    font-family: $font-family-playfair-display;
    font-size: $font-size-lg;
  }
  .content-text {
    font-weight: lighter;
    letter-spacing: 0.5px;
    line-height: 1.7;
  }
  .home-area {
    // height:$home-area-height;
    .user-img {
      width: 30%;
    }
    .title-area {
      width: 400px;
      .title {
        font-family: $font-family-playfair-display;
        font-weight: 800;
      }
    }
  }
  .my_work-area {
    .container {
      background-color: lighten($primary, 9%);

      .nav {
        background-color: lighten($primary, 3%);
      }
      .nav-item {
        border-right: 1px solid lighten($primary, 9%);
        &:last-child {
          border-right: 0;
        }
        .nav-link {
          font-weight: 500;
        }
      }
      .info-img {
        width: 50%;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }
  }
  .testimonials {
    background-color: lighten($primary, 3%);
    .testimonial-card {
      max-width: 460px;
      background-color: lighten($primary, 10%);
      .user-img {
        width: 60px;
        height: 60px;
      }
      .user-name {
        font-family: $font-family-playfair-display;
        font-size: $font-size-base * 1.23;
      }
      .quote {
        color: $primary;
      }
    }
  }
  .clients {
    .client-img {
      width: 220px;
    }
    .nav-tabs {
      .nav-link {
        position: relative;
        &::after {
          content: "";
          width: 0;
          height: 0;
          display: none;
          position: absolute;
          right: 95px;
          top: 13px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid $warning;
        }
        &:active,
        &.active {
          &::after {
            display: block;
          }
        }
      }
    }
  }
  .social-media{
      background-color: lighten($primary, 2%);
  }
}
